body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-top: 20px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"] { 
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

label {    
    margin-bottom: 8px; 
    font-weight: bold;
}

label[for="info-input"] {
    display: block; 
    margin-top: 70px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#info-input {
    margin-top: 0; /* Remove qualquer espaçamento superior no input */
}

#file-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
}

#generate-btn,
#limpardados,
#pdf-btn,
#print-btn  {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

#generate-btn:hover,
#limpardados:hover,
#pdf-btn:hover {
    background-color: #0056b3;
}

#limpardados {
    background-color: #dc3545;
}

#limpardados:hover {
    background-color: #c82333;
}

#qrcode-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Diminuiu o tamanho mínimo dos cards */
    gap: 15px;
    justify-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 90%; /* Diminuiu a largura máxima */
}

.qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Diminuiu o padding dos cards */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    max-width: 170px; /* Definiu uma largura máxima menor para os cards */
}

.qrcode:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.info-text {
    font-size: 0.8rem; /* Diminuiu o tamanho do texto */
    color: #555;
    text-align: center;
    max-width: 120px; /* Reduziu a largura máxima do texto */
    word-wrap: break-word;
}

/* Estilo para o span de mensagens */
#message-span {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    text-align: center;
    width: 80%;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para impressão - mostra apenas os QR codes e oculta o resto */
@media print {
    /* Oculta todo o conteúdo da página */
    body * {
        visibility: hidden;
        .info-text {
            display: block !important;
        }
    }

    /* Torna visível apenas o contêiner de QR codes */
    #qrcode-container, #qrcode-container * {
        visibility: visible;
    }

    /* Centraliza os QR codes na página de impressão */
    #qrcode-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    /* Ajusta o estilo dos QR codes para impressão */
    .qrcode {
        page-break-inside: avoid;
        border: none; /* Remove a borda dos QR codes na impressão */
        box-shadow: none;
    }
}
